/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

.bg-color {
    background-color: #a14c43 !important;
}

.bg-btn-color {
    background-color: #a14c43 !important;
}

.bg-btn-color:hover {
    background-color: #d68279 !important;
}

.bg-text-color {
    color:#a14c43 ;
}

