/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

.bg-color {
    background-color: #27969e !important;
}

.bg-btn-color {
    background-color: #27969e !important;
}

.bg-btn-color:hover {
    background-color: #27969e !important;
}

.bg-text-color {
    color:#27969e ;
}

